<html>

    <head>
        <title>Solano</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/Styles/styles.css">
    </head>

    <body>
        <header>
            <div class="links">
                <a href="/">Sobre</a>
                <a href="/">Aulas</a>
            </div>
        </header>

        <div id="wrapper">            
            <h1>Aulas</h1>
        </div>

        <section class="cards">

            <div class="card" id="-VQPimwkstM">
                <div class="card_image-container">
                    <img src="https://img.youtube.com/vi/-VQPimwkstM/0.jpg" alt="Video Aula">
                </div>
                <div class="card_content">
                    <p>Menu estilo Tree View | Rocketseat</p>
                </div>
                <div class="card_info">
                    <p>57 min</p>
                    <p class="card_price">Free</p>
                </div>
            </div>

            <div class="card" id="U7GjS3FuSkA">
                <div class="card_image-container">
                    <img src="https://img.youtube.com/vi/U7GjS3FuSkA/0.jpg" alt="Video Aula">
                </div>
                <div class="card_content">
                    <p>SQL no NodeJS com KnexJS | Rocketseat</p>
                </div>
                <div class="card_info">
                    <p>119 min</p>
                    <p class="card_price">Free</p>
                </div>
            </div>

            <div class="card" id="KISMYYXSIX8">
                <div class="card_image-container">
                    <img src="https://img.youtube.com/vi/KISMYYXSIX8/0.jpg" alt="Video Aula">
                </div>
                <div class="card_content">
                    <p>Context API e Hooks | Rocketseat</p>
                </div>
                <div class="card_info">
                    <p>70 min</p>
                    <p class="card_price">Free</p>
                </div>
            </div>

            <div class="card" id="j0MCdrqN8nU">
                <div class="card_image-container">
                    <img src="https://img.youtube.com/vi/j0MCdrqN8nU/0.jpg" alt="Video Aula">
                </div>
                <div class="card_content">
                    <p>UI Kit, React e Storybook | Rocketseat</p>
                </div>
                <div class="card_info">
                    <p>48 min</p>
                    <p class="card_price">Free</p>
                </div>
            </div>

            <div class="card" id="dlCUvYOlnDo">
                <div class="card_image-container">
                    <img src="https://img.youtube.com/vi/dlCUvYOlnDo/0.jpg" alt="Video Aula">
                </div>
                <div class="card_content">
                    <p>Serverless e NodeJS | Rocketseat</p>
                </div>
                <div class="card_info">
                    <p>55 min</p>
                    <p class="card_price">Free</p>
                </div>
            </div>

            <div class="card" id="0mYq5LrQN1s">
                <div class="card_image-container">
                    <img src="https://img.youtube.com/vi/0mYq5LrQN1s/0.jpg" alt="Video Aula">
                </div>
                <div class="card_content">
                    <p>Typescript, o inicio | Rocketseat</p>
                </div>
                <div class="card_info">
                    <p>70 min</p>
                    <p class="card_price">Free</p>
                </div>
            </div>

        </section>

        <div class="modal-overlay ">
            <div class="modal">
                <a class="close-modal">
                    <i class="material-icons">close</i>
                </a>

                    <div class="modal-content">
                        <iframe src="" frameborder="0"></iframe>
                    </div>

            </div>
        </div>

    <script src="/Scripts/scripts.js"></script>

    </body>

</html>