<html>

    <head>
        <title>Solano</title>
        <link rel="stylesheet" href=>
        <link rel="stylesheet" href="/Styles/styles.css">
    </head>

    <body>
        <header>
            <div class="links">
                <a href="index.html">Sobre</a>
                <a href="classes.html">Aulas</a>                                    
            </div>
        </header>

    <div id="wrapper">
        <img src="https://avatars3.githubusercontent.com/u/21224546?s=460&u=f6f93027fb8ff9bfee5c3c14883082a874fc68ef&v=4" alt="Solano">
        <h1>Solano Oliveira</h1>
        <h2>Developer</h2>
        <p>Estudando desenvolvimento web <a href="https://https://www.javascript.com/" target="_blank">Javascript</a> </p>
    </div>

            <div id="links-footer" class="links">
                <a href="https://github.com/solanno1" target="_blank">Github</a>
                <a href="https://facebook.com/solanno.oliveira" target="_blank">Facebook</a>
                <a href="https://linkedin.com/in/solano-oliveira-998bb7130/"target="_blank">Linkedin</a>                                    
            </div>

    </body>

</html>